
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: "White";
    }
    @font-face {
  font-family: Lato;
  src: url(Fonts/Lato/Lato-Hairline.ttf);
    }


    #container {
        position: absolute;
        left:0px;
        top:170px;
        width: 40%;
        height: 60px;
        padding: 0px;
        margin-top: 10px;
    }
    #scenery {
      position: absolute;
      top:0;
      left:0;
      margin: 0;
      background-image: linear-gradient(to right,rgb(1,22,63), black);
      z-index:-1;
    }

    h1 {
        font-style: normal;
        font-family: Lato;
        text-align: left;
        font-size: 40px;
        margin: 0px;
        color: white;
    }
